<section id="contact" class="bg-dark py-5">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="text-light">
        <h4 class="text-uppercase mb-3">get in touch</h4>
        <span class="d-block"><i class="fa-solid fa-envelope me-2"></i> kr12&#64;hotmail.com</span>
        <span><i class="fa-solid fa-square-phone-flip me-2"></i> 717-555-1234</span>
      </div>

      <div>
        <button class="btn btn-outline-light text-uppercase py-3 px-5">contact me</button>
      </div>

      <div>
        <div class="ms-5 mb-3">
          <a href="https://www.linkedin.com/in/ammar-kamel/" class="text-light">
            <i class="fa-brands fa-linkedin fs-3"></i>
          </a>
          <a href="#" class="ms-3 text-light">
            <i class="fa-brands fa-facebook-f fs-3 "></i>
          </a>
          <a href="#" class="ms-3 text-light">
            <i class="fa-brands fa-twitter fs-3 "></i>
          </a>
        </div>
        <p class="text-light">Copyright &copy; 2019 KR</p>
      </div>
    </div>
  </div>
</section>
