<section class="py-5" id="about">
  <div class="container">
    <div class="row">
      <h2 class="col-4 display-3">About me</h2>
      <div class="col-8">
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
          et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
          Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit
          amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
          aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
        </p>
        <a href="/assets/Ammar%20Kamel_CV.pdf" class="btn btn-secondary text-light py-3 px-4" download>
          Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
