<header>
  <div class="container">
    <div class="d-flex align-items-center justify-content-between py-5">
      <h1>KR</h1>
      <ul>
        <a href="#" class="text-uppercase text-decoration-none text-dark">home</a>
        <a href="#about" class="text-uppercase text-decoration-none text-dark ms-5">about</a>
        <a href="#projects" class="text-uppercase text-decoration-none text-dark ms-5">projects</a>
        <a href="#contact" class="text-uppercase text-decoration-none text-dark ms-5">contact</a>
      </ul>
      <div>
        <a href="https://www.linkedin.com/in/ammar-kamel/" class="text-dark">
          <i class="fa-brands fa-linkedin fs-3"></i>
        </a>
        <a href="#" class="ms-3 text-dark">
          <i class="fa-brands fa-facebook-f fs-3 "></i>
        </a>
        <a href="#" class="ms-3 text-dark">
          <i class="fa-brands fa-twitter fs-3 "></i>
        </a>
      </div>
    </div>
  </div>
</header>
