<section class="bg-dark py-5">
  <div class="container">
    <h2 class="text-light text-center display-2 mb-5">Skills</h2>
    <p class="text-light text-center mb-5 fs-5">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
      aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
      sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.
    </p>
    <div class="row">
      <div class="offset-2 col-2">
        <h4 class="text-light text-uppercase border-2 border-bottom text-center pb-3">my focus</h4>
        <ul class="list-unstyled text-light fs-5">
          <li class="my-3 ms-3">UI/UX Design</li>
          <li class="my-3 ms-3">Responsive Design</li>
          <li class="my-3 ms-3">Web Design</li>
          <li class="my-3 ms-3">Mobile App Design</li>
        </ul>
      </div>
      <div class="col-4 offset-3">
        <app-skill-bar *ngFor="let skill of skills" [skill]="skill"></app-skill-bar>
      </div>
    </div>
  </div>
</section>
